/*=======================*/
/*--- START PRELOADER ---*/
.loader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	background: #1f2732;
	width: 100%;
	height: 100vh;
}

.cube-wrapper {
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-align: center;
}

.cube-folding {
	width: 50px;
	height: 50px;
	display: inline-block;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	font-size: 0;
}

.cube-folding span {
	position: relative;
	width: 25px;
	height: 25px;
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	display: inline-block;
}

.cube-folding span::before {
	content: '';
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 25px;
	height: 25px;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: folding 2.5s infinite linear both;
	animation: folding 2.5s infinite linear both;
}

.cube-folding .leaf2 {
	-ms-transform: rotateZ(90deg) scale(1.1);
	-webkit-transform: rotateZ(90deg) scale(1.1);
	transform: rotateZ(90deg) scale(1.1);
}

.cube-folding .leaf2::before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
	background-color: #f2f2f2;
}

.cube-folding .leaf3 {
	-ms-transform: rotateZ(270deg) scale(1.1);
	-webkit-transform: rotateZ(270deg) scale(1.1);
	transform: rotateZ(270deg) scale(1.1);
}

.cube-folding .leaf3::before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	background-color: #f2f2f2;
}

.cube-folding .leaf4 {
	-ms-transform: rotateZ(180deg) scale(1.1);
	-webkit-transform: rotateZ(180deg) scale(1.1);
	transform: rotateZ(180deg) scale(1.1);
}

.cube-folding .leaf4::before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
	background-color: #e6e6e6;
}

@-webkit-keyframes folding {

	0%,
	10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}

	25%,
	75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}

	90%,
	100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes folding {

	0%,
	10% {
		-ms-transform: perspective(140px) rotateX(-180deg);
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}

	25%,
	75% {
		-ms-transform: perspective(140px) rotateX(0deg);
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}

	90%,
	100% {
		-ms-transform: perspective(140px) rotateY(180deg);
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

.disppear {
	-webkit-animation: vanish 1s forwards;
	animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes vanish {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

/*---- END PRELOADER ----*/
/*=======================*/